spring:
  application:
    name: ExamBackend
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true #Apparently it helps with debugging.

server:
  port: ${SERVER_PORT}

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
  security:
    default-admin-name: ${DEFAULT_ADMIN_NAME}
    default-admin-email: ${DEFAULT_ADMIN_EMAIL}
    default-admin-password: ${DEFAULT_ADMIN_PASSWORD}
    default-candidate-password: ${DEFAULT_CANDIDATE_PASSWORD}