/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  font-family: 'Arial', sans-serif;
}

.login-card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
  color: #333;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #91c0d496;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #1a5ed0;
}

.login-card p {
  margin-top: 15px;
  color: rgba(14, 14, 14, 0.885);
  font-weight: 500;
}
