html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Arial', sans-serif;
  background: rgb(255, 255, 255)
}

/* #root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
